*{
    background-color: #DBE2EF;
    color: #112D4E;
}
img{
    height: 120px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    background-color: #DBE2EF;
    text-align: center;
}
h2{
    text-align: center;
    background-color: #DBE2EF;
}
h3{
    background-color: #DBE2EF;
}

a{
    color: #3F72AF;
}